@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animateLove {
  0% {
    transform: rotateY(0deg);
    margin-bottom: -10px;
  }
  50% {
    margin-bottom: 10px;
  }
  100% {
    transform: rotateY(360deg);
    margin-bottom: 0px;
  }
}
.animate-love {
  animation: animateLove 0.75s cubic-bezier(0.6, 0, 0.1, 1);
}

.slick-slider .slick-list .slick-track {
  @apply flex 2xl:gap-16 xl:gap-16 gap-6 2xl:px-0 xl:px-0 px-3;
}